# Clerk Authentication
VITE_CLERK_PUBLISHABLE_KEY=<YOUR_CLERK_PUBLISHABLE_KEY>

# Backend API
VITE_API_BASE_URL=<YOUR_BACKEND_API_URL>

SUPABASE_URL="<YOUR_SUPABASE_URL>"
SUPABASE_KEY="<YOUR_SUPABASE_KEY>"

# Gemini AI API Key
VITE_GEMINI_API_KEY=<YOUR_GEMINI_API_KEY>

VITE_ALLOWED_EMAILS="apa@gmail.com"